torch
torchsde
torchvision
torchaudio
einops
transformers>=4.25.1
safetensors>=0.4.2
aiohttp
pyyaml
Pillow
scipy
tqdm
psutil

#non essential dependencies:
python-dotenv
kornia>=0.7.1
spandrel
soundfile

jedi
autopep8
yapf
black

llama-index
llama-index-agent-openai
llama-index-llms-anthropic
